<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <header id="top">
        <h1><%= name %></h1>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="actor">Actors</a></li>
            <li><a href="film">Films</a></li>
            <li><a href="customer">Customer</a></li>
        </ul>
    </header>