<%- include('../partials/header'); %>
    <main>
        <section class="section">
            <h2>Welcome to the Sakila Home Page!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis reiciendis distinctio? Distinctio, soluta blanditiis id sequi autem quos modi aliquam odio eius maiores eveniet in perferendis explicabo fuga neque expedita sit ipsa, perspiciatis a? Provident, atque quasi nostrum adipisci iure nemo unde magni laudantium placeat modi ea quisquam exercitationem commodi? Quibusdam, expedita! Doloremque, consequuntur aspernatur officiis excepturi ratione dolore veniam quo voluptates minima soluta error eum exercitationem blanditiis distinctio doloribus atque maxime cum! Praesentium reprehenderit quis error unde, esse fugiat, nobis maxime enim nulla molestiae accusamus omnis similique dolorem impedit quibusdam tempora quaerat reiciendis rerum excepturi debitis ratione minus ipsam illo sapiente? Dignissimos, deserunt.</p>
        </section>
        <section class="section">
            <h3>Lorem ipsum dolor sit.</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem voluptate quos, sunt sed minima quas asperiores. Iure omnis voluptatum ipsam.</p>
        </section>
        <section class="section">
            <h3>Lorem ipsum dolor sit.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil iure quas corrupti repellendus eos hic velit voluptates nesciunt necessitatibus quo.</p>
        </section>
    </main>
<%- include('../partials/footer'); %>